<a href="https://colab.research.google.com/github/SuhailAhmad1/Scapping_data_from_web/blob/main/Scraping_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***BBC LOCATION ID WEATHER SCRAPPING***

In [ ]:
import os
import requests
import json

from urllib.parse import urlencode

import numpy as np
import pandas as pd
import re

In [ ]:
test_city = "Vineland"
location_url = 'https://locator-service.api.bbci.co.uk/locations?' + urlencode({
    'api_key': 'AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv',
    's': test_city,
    'stack': 'aws',
    'locale': 'en',
    'filter': 'international',
    'place-type': 'settlement, airport, district',
    'a': 'true',
    'format': 'json'
})
location_url

'https://locator-service.api.bbci.co.uk/locations?api_key=AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv&s=Vineland&stack=aws&locale=en&filter=international&place-type=settlement%2C+airport%2C+district&a=true&format=json'

In [ ]:
result = requests.get(location_url).content
result

b'{"response":{"results":{"results":[{"id":"4176514","name":"Vineland (FL)","container":"United States","containerId":6252001,"language":"en","timezone":"America/New_York","country":"US","latitude":28.39529,"longitude":-81.50313,"placeType":"settlement"},{"id":"4504621","name":"Vineland (NJ)","container":"United States","containerId":6252001,"language":"en","timezone":"America/New_York","country":"US","latitude":39.48623,"longitude":-75.02573,"placeType":"settlement"}],"totalResults":2}}}'

In [ ]:
type(result)

bytes

In [ ]:
result['response']['results']['results'][0]['id']

'4176514'

**Functiont get id**

In [ ]:
def getlocid(city):
  city = city.lower()
  location_url = 'https://locator-service.api.bbci.co.uk/locations?' + urlencode({
    'api_key': 'AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv',
    's': city,
    'stack': 'aws',
    'locale': 'en',
    'filter': 'international',
    'place-type': 'settlement, airport, district',
    'a': 'true',
    'format': 'json'
  })
  result = requests.get(location_url).json()
  loc_id = result['response']['results']['results'][0]['id']
  return loc_id

In [ ]:
getlocid('Srinagar')

'1255634'

# ***Getting data from BBC***

In [ ]:
import json

from urllib.parse import urlencode

import requests
from bs4 import BeautifulSoup

import pandas as pd
import re

from datetime import datetime

In [ ]:
city = "Mumbai"
location_url = 'https://locator-service.api.bbci.co.uk/locations?' + urlencode({
    'api_key': 'AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv',
    's': city,
    'stack': 'aws',
    'locale': 'en',
    'filter': 'international',
    'place-type': 'settlement, airport, district',
    'a': 'true',
    'format': 'json'
})
location_url

'https://locator-service.api.bbci.co.uk/locations?api_key=AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv&s=Mumbai&stack=aws&locale=en&filter=international&place-type=settlement%2C+airport%2C+district&a=true&format=json'

In [ ]:
result = requests.get(location_url).json()
result

{'response': {'results': {'results': [{'container': 'India',
     'containerId': 1269750,
     'country': 'IN',
     'id': '1275339',
     'language': 'en',
     'latitude': 19.07283,
     'longitude': 72.88261,
     'name': 'Mumbai',
     'placeType': 'settlement',
     'timezone': 'Asia/Kolkata'}],
   'totalResults': 1}}}

In [ ]:
url = "https://www.bbc.com/weather/" + result['response']['results']['results'][0]['id']
response = requests.get(url)
response

In [ ]:
soup = BeautifulSoup(response.content,'html.parser')

In [ ]:
daily_high_values = soup.find_all('span', attrs={'class': 'wr-day-temperature__high-value'})
daily_high_values

[<span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">33°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">92°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">34°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">93°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">33°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">91°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">33°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">91°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">32°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">89°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">32°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">89°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">32°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">90°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">33°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">91°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">33°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">91°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">33°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">91°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">33°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">92°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">33°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">92°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">33°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">92°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">33°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">91°</span></span></span>]

In [ ]:
daily_low_values = soup.find_all('span', attrs={'class': 'wr-day-temperature__low-value'})
daily_low_values

[<span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">81°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">81°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">28°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">82°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">81°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">81°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">81°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">80°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">80°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">81°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">80°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">80°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">81°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>]

In [ ]:
daily_summary = soup.find('div', attrs={'class': 'wr-day-summary'})
daily_summary

<div class="wr-day-summary"><div class="gel-wrap"><span class="">Light cloud and a moderate breeze</span><span class="wr-hide">Sunny intervals and a moderate breeze</span><span class="wr-hide">Sunny intervals and a moderate breeze</span><span class="wr-hide">Light cloud and a moderate breeze</span><span class="wr-hide">Light cloud and a moderate breeze</span><span class="wr-hide">Sunny intervals and a moderate breeze</span><span class="wr-hide">Light cloud and a moderate breeze</span><span class="wr-hide">Light cloud and a moderate breeze</span><span class="wr-hide">Light cloud and a moderate breeze</span><span class="wr-hide">Light cloud and a moderate breeze</span><span class="wr-hide">Sunny intervals and a moderate breeze</span><span class="wr-hide">Sunny intervals and a moderate breeze</span><span class="wr-hide">Light cloud and a moderate breeze</span><span class="wr-hide">Light cloud and a moderate breeze</span></div></div>

In [ ]:
daily_summary.text

'Light cloud and a moderate breezeSunny intervals and a moderate breezeSunny intervals and a moderate breezeLight cloud and a moderate breezeLight cloud and a moderate breezeSunny intervals and a moderate breezeLight cloud and a moderate breezeLight cloud and a moderate breezeLight cloud and a moderate breezeLight cloud and a moderate breezeSunny intervals and a moderate breezeSunny intervals and a moderate breezeLight cloud and a moderate breezeLight cloud and a moderate breeze'

In [ ]:
daily_high_values[0].text.strip()

'33° 92°'

In [ ]:
daily_high_values[0].text.strip().split()[0]

'33°'

In [ ]:
daily_high_values_list = [daily_high_values[i].text.strip().split()[0] for i in range(len(daily_high_values))]
daily_high_values_list

['33°',
 '34°',
 '33°',
 '33°',
 '32°',
 '32°',
 '32°',
 '33°',
 '33°',
 '33°',
 '33°',
 '33°',
 '33°',
 '33°']

In [ ]:
daily_low_values_list = [daily_low_values[i].text.strip().split()[0] for i in range(len(daily_low_values))]
daily_low_values_list

['26°',
 '27°',
 '27°',
 '28°',
 '27°',
 '27°',
 '27°',
 '27°',
 '27°',
 '27°',
 '27°',
 '27°',
 '27°',
 '26°']

In [ ]:
daily_summary_list = re.findall('[a-zA-Z][^A-Z]*', daily_summary.text)
daily_summary_list

['Light cloud and a moderate breeze',
 'Sunny intervals and a moderate breeze',
 'Sunny intervals and a moderate breeze',
 'Light cloud and a moderate breeze',
 'Light cloud and a moderate breeze',
 'Sunny intervals and a moderate breeze',
 'Light cloud and a moderate breeze',
 'Light cloud and a moderate breeze',
 'Light cloud and a moderate breeze',
 'Light cloud and a moderate breeze',
 'Sunny intervals and a moderate breeze',
 'Sunny intervals and a moderate breeze',
 'Light cloud and a moderate breeze',
 'Light cloud and a moderate breeze']

In [ ]:
datelist = pd.date_range(datetime.today(), periods = len(daily_high_values)).tolist()
datelist

[Timestamp('2022-05-24 05:45:02.368556', freq='D'),
 Timestamp('2022-05-25 05:45:02.368556', freq='D'),
 Timestamp('2022-05-26 05:45:02.368556', freq='D'),
 Timestamp('2022-05-27 05:45:02.368556', freq='D'),
 Timestamp('2022-05-28 05:45:02.368556', freq='D'),
 Timestamp('2022-05-29 05:45:02.368556', freq='D'),
 Timestamp('2022-05-30 05:45:02.368556', freq='D'),
 Timestamp('2022-05-31 05:45:02.368556', freq='D'),
 Timestamp('2022-06-01 05:45:02.368556', freq='D'),
 Timestamp('2022-06-02 05:45:02.368556', freq='D'),
 Timestamp('2022-06-03 05:45:02.368556', freq='D'),
 Timestamp('2022-06-04 05:45:02.368556', freq='D'),
 Timestamp('2022-06-05 05:45:02.368556', freq='D'),
 Timestamp('2022-06-06 05:45:02.368556', freq='D')]

In [ ]:
datelist = [datelist[i].date().strftime('%y-%m-%d') for i in range(len(datelist))]
datelist

['22-05-24',
 '22-05-25',
 '22-05-26',
 '22-05-27',
 '22-05-28',
 '22-05-29',
 '22-05-30',
 '22-05-31',
 '22-06-01',
 '22-06-02',
 '22-06-03',
 '22-06-04',
 '22-06-05',
 '22-06-06']

In [ ]:
zipped = zip(datelist, daily_high_values_list,daily_low_values_list,daily_summary_list)

In [ ]:
df = pd.DataFrame(list(zipped), columns=['Date','High','Low','Summary'])

In [ ]:
display(df)

        Date High  Low                                Summary
0   22-05-24  33°  26°      Light cloud and a moderate breeze
1   22-05-25  34°  27°  Sunny intervals and a moderate breeze
2   22-05-26  33°  27°  Sunny intervals and a moderate breeze
3   22-05-27  33°  28°      Light cloud and a moderate breeze
4   22-05-28  32°  27°      Light cloud and a moderate breeze
5   22-05-29  32°  27°  Sunny intervals and a moderate breeze
6   22-05-30  32°  27°      Light cloud and a moderate breeze
7   22-05-31  33°  27°      Light cloud and a moderate breeze
8   22-06-01  33°  27°      Light cloud and a moderate breeze
9   22-06-02  33°  27°      Light cloud and a moderate breeze
10  22-06-03  33°  27°  Sunny intervals and a moderate breeze
11  22-06-04  33°  27°  Sunny intervals and a moderate breeze
12  22-06-05  33°  27°      Light cloud and a moderate breeze
13  22-06-06  33°  26°      Light cloud and a moderate breeze

In [ ]:
df.High = df.High.replace('\°','',regex=True).astype(float)
df.Low = df.Low.replace('\°','',regex=True).astype(float)

In [ ]:
display(df)

        Date  High   Low                                Summary
0   22-05-24  33.0  26.0      Light cloud and a moderate breeze
1   22-05-25  34.0  27.0  Sunny intervals and a moderate breeze
2   22-05-26  33.0  27.0  Sunny intervals and a moderate breeze
3   22-05-27  33.0  28.0      Light cloud and a moderate breeze
4   22-05-28  32.0  27.0      Light cloud and a moderate breeze
5   22-05-29  32.0  27.0  Sunny intervals and a moderate breeze
6   22-05-30  32.0  27.0      Light cloud and a moderate breeze
7   22-05-31  33.0  27.0      Light cloud and a moderate breeze
8   22-06-01  33.0  27.0      Light cloud and a moderate breeze
9   22-06-02  33.0  27.0      Light cloud and a moderate breeze
10  22-06-03  33.0  27.0  Sunny intervals and a moderate breeze
11  22-06-04  33.0  27.0  Sunny intervals and a moderate breeze
12  22-06-05  33.0  27.0      Light cloud and a moderate breeze
13  22-06-06  33.0  26.0      Light cloud and a moderate breeze

In [ ]:
location = soup.find('h1',attrs={'id':'wr-location-name-id'})
location.text.split()

['Mumbai', '-', 'Weather', 'warnings', 'issued']

In [ ]:
filename_csv = location.text.split()[0]+'.csv'
df.to_csv(filename_csv, index=None)

# ***imbd top 250 movies.... Practice***

In [ ]:
import os

import pandas as pd
from bs4 import BeautifulSoup

import requests

In [ ]:
url = 'https://www.imdb.com/chart/top'
response = requests.get(url)
response

In [ ]:
soup = BeautifulSoup(response.content)
content = soup.prettify()

In [ ]:
movies_name = []
movies_date = []
movies_rating = []

In [ ]:
names = soup.find_all('td', attrs={'class':'titleColumn'})

In [ ]:
ratings = soup.find_all('td', attrs={'class':'ratingColumn imdbRating'})

In [ ]:
for row in names:
  title = (row.a.text)
  movies_name.append(title)

In [ ]:
movies_name

['The Shawshank Redemption',
 'The Godfather',
 'The Dark Knight',
 'The Godfather: Part II',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Good, the Bad and the Ugly',
 'Forrest Gump',
 'Fight Club',
 'Inception',
 'The Lord of the Rings: The Two Towers',
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Matrix',
 'Goodfellas',
 "One Flew Over the Cuckoo's Nest",
 'Se7en',
 'Seven Samurai',
 "It's a Wonderful Life",
 'The Silence of the Lambs',
 'City of God',
 'Saving Private Ryan',
 'Life Is Beautiful',
 'The Green Mile',
 'Star Wars',
 'Interstellar',
 'Terminator 2: Judgment Day',
 'Back to the Future',
 'Spirited Away',
 'Psycho',
 'The Pianist',
 'Léon: The Professional',
 'Parasite',
 'The Lion King',
 'Gladiator',
 'American History X',
 'The Usual Suspects',
 'The Departed',
 'The Prestige',
 'Casablanca',
 'Whiplash',
 'The Intouchables',
 'Modern Times',
 'Hara-Kiri',
 'Once Upon a Time in the West',
 'Grave of the Fireflies',
 'Rear Window',
 'Alien',
 'City Lights',
 'Cinema Paradiso',
 'Memento',
 'Apocalypse Now',
 'Indiana Jones and the Raiders of the Lost Ark',
 'Django Unchained',
 'WALL·E',
 'The Lives of Others',
 'Sunset Blvd.',
 'Paths of Glory',
 'The Shining',
 'The Great Dictator',
 'Witness for the Prosecution',
 'Avengers: Infinity War',
 'Aliens',
 'Everything Everywhere All at Once',
 'American Beauty',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'The Dark Knight Rises',
 'Spider-Man: Into the Spider-Verse',
 'Joker',
 'Oldboy',
 'Braveheart',
 'Amadeus',
 'Toy Story',
 'Coco',
 'The Boat',
 'Inglourious Basterds',
 'Princess Mononoke',
 'Once Upon a Time in America',
 'Avengers: Endgame',
 'Good Will Hunting',
 'Requiem for a Dream',
 'Toy Story 3',
 "Singin' in the Rain",
 'Your Name.',
 '3 Idiots',
 'Star Wars: Episode VI - Return of the Jedi',
 '2001: A Space Odyssey',
 'Reservoir Dogs',
 'Eternal Sunshine of the Spotless Mind',
 'High and Low',
 'Citizen Kane',
 'Capernaum',
 'Lawrence of Arabia',
 'The Hunt',
 'M',
 'North by Northwest',
 'Vertigo',
 'Amélie',
 'A Clockwork Orange',
 'Come and See',
 'Full Metal Jacket',
 'Double Indemnity',
 'The Apartment',
 'Scarface',
 'To Kill a Mockingbird',
 'Ikiru',
 'Spider-Man: No Way Home',
 'The Sting',
 'Taxi Driver',
 'L.A. Confidential',
 'Hamilton',
 'Up',
 'Heat',
 'Metropolis',
 'Snatch',
 'A Separation',
 'Die Hard',
 'Incendies',
 'Indiana Jones and the Last Crusade',
 'Bicycle Thieves',
 '1917',
 'Like Stars on Earth',
 'Downfall',
 'For a Few Dollars More',
 'Batman Begins',
 'Dangal',
 'The Kid',
 'Some Like It Hot',
 'The Father',
 'All About Eve',
 'Green Book',
 'The Wolf of Wall Street',
 'Judgment at Nuremberg',
 'Unforgiven',
 "Pan's Labyrinth",
 'Casino',
 'Ran',
 'There Will Be Blood',
 'The Sixth Sense',
 'A Beautiful Mind',
 'Monty Python and the Holy Grail',
 'The Truman Show',
 'Yojimbo',
 'The Treasure of the Sierra Madre',
 'Rashomon',
 'The Great Escape',
 'Shutter Island',
 'Kill Bill: Vol. 1',
 'Jurassic Park',
 'No Country for Old Men',
 'The Elephant Man',
 'Finding Nemo',
 'Raging Bull',
 'Chinatown',
 'Gone with the Wind',
 'V for Vendetta',
 'Inside Out',
 'Lock, Stock and Two Smoking Barrels',
 'The Thing',
 'Dial M for Murder',
 'The Secret in Their Eyes',
 'The Bridge on the River Kwai',
 "Howl's Moving Castle",
 'Three Billboards Outside Ebbing, Missouri',
 'Trainspotting',
 'Gran Torino',
 'Warrior',
 'Fargo',
 'My Neighbor Totoro',
 'Prisoners',
 'Million Dollar Baby',
 'The Gold Rush',
 'Blade Runner',
 'Catch Me If You Can',
 'On the Waterfront',
 'The Third Man',
 'Children of Heaven',
 'Ben-Hur',
 'The General',
 '12 Years a Slave',
 'Gone Girl',
 'Wild Strawberries',
 'The Deer Hunter',
 'Before Sunrise',
 'Harry Potter and the Deathly Hallows: Part 2',
 'In the Name of the Father',
 'The Grand Budapest Hotel',
 'Mr. Smith Goes to Washington',
 'The Wages of Fear',
 'Sherlock Jr.',
 'Barry Lyndon',
 'Room',
 'Memories of Murder',
 'Hacksaw Ridge',
 'The Seventh Seal',
 'Klaus',
 'Wild Tales',
 'The Big Lebowski',
 'How to Train Your Dragon',
 'Mad Max: Fury Road',
 'Mary and Max',
 'Monsters, Inc.',
 'Jaws',
 'The Passion of Joan of Arc',
 'Pather Panchali',
 'Hotel Rwanda',
 'Tokyo Story',
 'Dead Poets Society',
 'Platoon',
 'Rocky',
 'Ford v Ferrari',
 'Stand by Me',
 'The Terminator',
 'Rush',
 'Spotlight',
 'Into the Wild',
 'Network',
 'The Wizard of Oz',
 'Logan',
 'Groundhog Day',
 'Ratatouille',
 'The Exorcist',
 'Before Sunset',
 'The Best Years of Our Lives',
 'The Incredibles',
 'To Be or Not to Be',
 'The Battle of Algiers',
 'Rebecca',
 'The Grapes of Wrath',
 "Hachi: A Dog's Tale",
 'Cool Hand Luke',
 'Amores perros',
 'Dersu Uzala',
 'Pirates of the Caribbean: The Curse of the Black Pearl',
 'The 400 Blows',
 'Persona',
 'My Father and My Son',
 'La Haine',
 'Life of Brian',
 'The Sound of Music',
 'It Happened One Night',
 'The Handmaiden',
 'Aladdin',
 'Gandhi',
 'The Help',
 'Beauty and the Beast',
 'Dances with Wolves',
 'Jai Bhim']

In [ ]:
for row in names:
  date = row.span.text
  movies_date.append(date)

In [ ]:
movies_date

['(1994)',
 '(1972)',
 '(2008)',
 '(1974)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(2001)',
 '(1966)',
 '(1994)',
 '(1999)',
 '(2010)',
 '(2002)',
 '(1980)',
 '(1999)',
 '(1990)',
 '(1975)',
 '(1995)',
 '(1954)',
 '(1946)',
 '(1991)',
 '(2002)',
 '(1998)',
 '(1997)',
 '(1999)',
 '(1977)',
 '(2014)',
 '(1991)',
 '(1985)',
 '(2001)',
 '(1960)',
 '(2002)',
 '(1994)',
 '(2019)',
 '(1994)',
 '(2000)',
 '(1998)',
 '(1995)',
 '(2006)',
 '(2006)',
 '(1942)',
 '(2014)',
 '(2011)',
 '(1936)',
 '(1962)',
 '(1968)',
 '(1988)',
 '(1954)',
 '(1979)',
 '(1931)',
 '(1988)',
 '(2000)',
 '(1979)',
 '(1981)',
 '(2012)',
 '(2008)',
 '(2006)',
 '(1950)',
 '(1957)',
 '(1980)',
 '(1940)',
 '(1957)',
 '(2018)',
 '(1986)',
 '(2022)',
 '(1999)',
 '(1964)',
 '(2012)',
 '(2018)',
 '(2019)',
 '(2003)',
 '(1995)',
 '(1984)',
 '(1995)',
 '(2017)',
 '(1981)',
 '(2009)',
 '(1997)',
 '(1984)',
 '(2019)',
 '(1997)',
 '(2000)',
 '(2010)',
 '(1952)',
 '(2016)',
 '(2009)',
 '(1983)',
 '(1968)',
 '(1992)',
 '(2004)',
 '(1963)',
 '(1941)',
 '(2018)',
 '(1962)',
 '(2012)',
 '(1931)',
 '(1959)',
 '(1958)',
 '(2001)',
 '(1971)',
 '(1985)',
 '(1987)',
 '(1944)',
 '(1960)',
 '(1983)',
 '(1962)',
 '(1952)',
 '(2021)',
 '(1973)',
 '(1976)',
 '(1997)',
 '(2020)',
 '(2009)',
 '(1995)',
 '(1927)',
 '(2000)',
 '(2011)',
 '(1988)',
 '(2010)',
 '(1989)',
 '(1948)',
 '(2019)',
 '(2007)',
 '(2004)',
 '(1965)',
 '(2005)',
 '(2016)',
 '(1921)',
 '(1959)',
 '(2020)',
 '(1950)',
 '(2018)',
 '(2013)',
 '(1961)',
 '(1992)',
 '(2006)',
 '(1995)',
 '(1985)',
 '(2007)',
 '(1999)',
 '(2001)',
 '(1975)',
 '(1998)',
 '(1961)',
 '(1948)',
 '(1950)',
 '(1963)',
 '(2010)',
 '(2003)',
 '(1993)',
 '(2007)',
 '(1980)',
 '(2003)',
 '(1980)',
 '(1974)',
 '(1939)',
 '(2005)',
 '(2015)',
 '(1998)',
 '(1982)',
 '(1954)',
 '(2009)',
 '(1957)',
 '(2004)',
 '(2017)',
 '(1996)',
 '(2008)',
 '(2011)',
 '(1996)',
 '(1988)',
 '(2013)',
 '(2004)',
 '(1925)',
 '(1982)',
 '(2002)',
 '(1954)',
 '(1949)',
 '(1997)',
 '(1959)',
 '(1926)',
 '(2013)',
 '(2014)',
 '(1957)',
 '(1978)',
 '(1995)',
 '(2011)',
 '(1993)',
 '(2014)',
 '(1939)',
 '(1953)',
 '(1924)',
 '(1975)',
 '(2015)',
 '(2003)',
 '(2016)',
 '(1957)',
 '(2019)',
 '(2014)',
 '(1998)',
 '(2010)',
 '(2015)',
 '(2009)',
 '(2001)',
 '(1975)',
 '(1928)',
 '(1955)',
 '(2004)',
 '(1953)',
 '(1989)',
 '(1986)',
 '(1976)',
 '(2019)',
 '(1986)',
 '(1984)',
 '(2013)',
 '(2015)',
 '(2007)',
 '(1976)',
 '(1939)',
 '(2017)',
 '(1993)',
 '(2007)',
 '(1973)',
 '(2004)',
 '(1946)',
 '(2004)',
 '(1942)',
 '(1966)',
 '(1940)',
 '(1940)',
 '(2009)',
 '(1967)',
 '(2000)',
 '(1975)',
 '(2003)',
 '(1959)',
 '(1966)',
 '(2005)',
 '(1995)',
 '(1979)',
 '(1965)',
 '(1934)',
 '(2016)',
 '(1992)',
 '(1982)',
 '(2011)',
 '(1991)',
 '(1990)',
 '(2021)']

In [ ]:
for row in ratings:
  rating = row.strong.text
  movies_rating.append(rating)

In [ ]:
movies_rating

['9.2',
 '9.2',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0']

In [ ]:
zipped = zip(movies_name, movies_date, movies_rating)

In [ ]:
df = pd.DataFrame(zipped, columns = ['Movie Name', 'Movie Date', 'Movie Rating'])

In [ ]:
df.head(10)

                                          Movie Name Movie Date Movie Rating
0                           The Shawshank Redemption     (1994)          9.2
1                                      The Godfather     (1972)          9.2
2                                    The Dark Knight     (2008)          9.0
3                             The Godfather: Part II     (1974)          9.0
4                                       12 Angry Men     (1957)          8.9
5                                   Schindler's List     (1993)          8.9
6      The Lord of the Rings: The Return of the King     (2003)          8.9
7                                       Pulp Fiction     (1994)          8.9
8  The Lord of the Rings: The Fellowship of the Ring     (2001)          8.8
9                     The Good, the Bad and the Ugly     (1966)          8.8

In [ ]:
df.to_csv("imbd250.csv", index=None)

In [ ]:
df.to_excel("data.xlsx")

# ***Geocoding API (Nominatim )***

In [ ]:
from geopy.geocoders import Nominatim

In [ ]:
locator = Nominatim(user_agent="myGeocoder")
location = locator.geocode("Champ de Mars, Paris, France")

In [ ]:
print("Latitude = {}, longitude = {}". format(location.latitude, location.longitude))

Latitude = 48.85614465, longitude = 2.297820393322227

In [ ]:
location.point

Point(48.85614465, 2.297820393322227, 0.0)

In [ ]:
location = locator.geocode("IIT Madras")

In [ ]:
location.raw, location.altitude, location.point, location.address, location.latitude, location.longitude

({'boundingbox': ['28.621787', '28.786096', '-81.593217', '-81.459657'],
  'class': 'boundary',
  'display_name': 'Apopka, Orange County, Florida, United States',
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons/poi_boundary_administrative.p.20.png',
  'importance': 0.5410528703133429,
  'lat': '28.6779683',
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'lon': '-81.5115214',
  'osm_id': 117680,
  'osm_type': 'relation',
  'place_id': 281821082,
  'type': 'administrative'},
 0.0,
 Point(28.6779683, -81.5115214, 0.0),
 'Apopka, Orange County, Florida, United States',
 28.6779683,
 -81.5115214)

In [ ]:
location = locator.geocode("Apopka")

# ***Extracting information from Wikipedia***

In [ ]:
import wikipedia as wk

In [ ]:
s = wk.search("IIT Madras")
s

['IIT Madras',
 'Indian Institutes of Technology',
 'Joint Entrance Examination – Advanced',
 'Inter IIT Sports Meet',
 'IIT Tirupati',
 'List of IIT Madras people',
 'IIT Palakkad',
 'Chennai',
 'IIT Kharagpur',
 'History of Indian Institutes of Technology']

In [ ]:
len(s)

2

In [ ]:
wk.search("IIT Madras", results = 2)

['IIT Madras', 'Indian Institutes of Technology']

In [ ]:
wk.summary("IIT Madras")

"Indian Institute of Technology Madras (IIT Madras) is a public technical university located in Chennai, Tamil Nadu, India. As one of the Indian Institutes of Technology (IITs), it is recognized as an Institute of National Importance and has been consistently rated as one of India's most prestigious universities. Founded in 1959 with technical and financial assistance from the former government of West Germany, it was the third IIT established by the Government of India. IIT Madras is ranked the top engineering institute in India by the Ministry of Education's National Institutional Ranking Framework since its inception in 2016.IIT Madras is a residential institute that occupies a 2.5-square-kilometre (0.97 sq mi) campus that was formerly part of the adjoining Guindy National Park. The institute has nearly 600 faculty, 10,000 students and 1,250 administrative and supporting staff. Growing ever since it obtained its charter from the Indian Parliament in 1961, much of the campus is a protected forest, carved out of the Guindy National Park, home to large numbers of chital (spotted deer), black buck, bonnet macaque, and other rare wildlife. A natural lake, deepened in 1988 and 2003, drains most of its rainwater."

In [ ]:
wk.summary("IIT Madras", sentences = 2)

"Indian Institute of Technology Madras (IIT Madras) is a public technical university located in Chennai, Tamil Nadu, India. As one of the Indian Institutes of Technology (IITs), it is recognized as an Institute of National Importance and has been consistently rated as one of India's most prestigious universities."

In [ ]:
full_page = wk.page("IIT Madras")

In [ ]:
print(full_page.content)

Indian Institute of Technology Madras (IIT Madras) is a public technical university located in Chennai, Tamil Nadu, India. As one of the Indian Institutes of Technology (IITs), it is recognized as an Institute of National Importance and has been consistently rated as one of India's most prestigious universities. Founded in 1959 with technical and financial assistance from the former government of West Germany, it was the third IIT established by the Government of India. IIT Madras is ranked the top engineering institute in India by the Ministry of Education's National Institutional Ranking Framework since its inception in 2016.IIT Madras is a residential institute that occupies a 2.5-square-kilometre (0.97 sq mi) campus that was formerly part of the adjoining Guindy National Park. The institute has nearly 600 faculty, 10,000 students and 1,250 administrative and supporting staff. Growing ever since it obtained its charter from the Indian Parliament in 1961, much of the campus is a protected forest, carved out of the Guindy National Park, home to large numbers of chital (spotted deer), black buck, bonnet macaque, and other rare wildlife. A natural lake, deepened in 1988 and 2003, drains most of its rainwater.


== History ==

In 1956, the West German Government offered technical assistance for establishing an institute of higher education in engineering in India. The first Indo-German agreement was signed in Bonn, West Germany in 1959 for the establishment of the Indian Institute of Technology at Madras. IIT Madras was started with technical, academic and financial assistance from the Government of West Germany and was at the time the largest international educational project sponsored by the West German government. The Government of the Federal Republic of Germany has agreed to provide the following assistance in the establishment of a higher technological institute at Madras:

A workshop, laboratory equipment, and a library whose total value does not exceed ₹1.8 crore (US$240,000).
Twenty German professors to serve at the Institute for a period of four to five years
Four German foremen for the workshops of the Institute for 2 years
Facilities for the training of twenty Indian teachers in German institutionsThis has led to several collaborative research efforts with universities and institutions in Germany over the years. Although official support from the German government has ended, several research efforts involving the DAAD programme and Humboldt Fellowships still exist.
The Higher Technological Institute at Madras known as the Indian Institute of Technology, Madras has started functioning The first batch of 120 students was admitted in July 1959 to the first year of the Engineering Course. The institute was inaugurated in 1959, by the then Union Minister for Scientific Research and Cultural Affairs. The first batch had an overall strength of 120 students from across India. In 1961, the IITs were declared to be Institutes of National Importance. The first convocation ceremony was held on 11 July 1964, with Dr. S. Radhakrishnan, then the President of India, delivering the convocation address and awarding the degrees to the inaugural batch of students. The institute got its first women students in the BTech batch of 1966. IIT Madras celebrated its Golden Jubilee in 2009, and its Diamond Jubilee in 2019.


== Campus ==
The main entrance of IIT Madras is on Sardar Patel Road, flanked by the residential districts of Adyar and Velachery. The campus is close to the Raj Bhavan, the official seat of the Governor of Tamil Nadu. Other entrances are located in Velachery (near Anna Garden MTC bus stop, Velachery Main Road), Gandhi Road and Taramani gate (close to Ascendas Tech Park).
The campus is located 10 km (6.2 mi) from the Chennai Airport, 12 km (7.5 mi) from the Chennai Central Railway station, and is connected by city buses. Kasturba Nagar is the nearest station on the Chennai MRTS line.
Two parallel roads, Bonn Avenue and Delhi Avenue, cut through the faculty residential area before they meet at the Gajendra Circle, near the Administrative Block. Buses regularly ply between the Main Gate, Gajendra Circle, the Academic Zone, and the Hostel Zone.


=== Location in context ===


=== Student Hostels ===
Most students at IIT Madras reside in hostels, where extracurricular activities complement the academic routine. The campus has 20 hostels, of which four, Sharavati, Sarayu, Sabarmati and the recently constructed Tunga are exclusively for women. In earlier times, each hostel had attached dining facilities but all of them have since been closed down. Dining facilities are provided in three centralised halls: Nilgiri, Vindhya and Himalaya. Students are assigned to hostels upon matriculation, where they usually reside for the entire duration of their course of study.

The halls of IITM are:

Sindhu, Pampa, Mahanadhi and Tamiraparani are seven-storeyed whereas all the other hostels are three or four storeyed. These four hostels can accommodate more than 1,200 students. The older hostels were all three-storeyed till the early 2000s when extra rooms were added. An additional new floor in the three-storeyed hostels which generally house the undergraduate students and a new block in place of the mess halls of these hostels have been constructed to accommodate for the increased intake of the students. These new blocks could be used as entrances for these hostels. As of 2020, Mandakini has been demolished and a multi-storey block is under construction, with provision to accommodate approximately 1000 students.


=== Facilities ===
IIT Madras provides residential accommodation for its students, faculty, administrative and supporting staff, and their families. The residential houses employ private caterers. The self-contained campus includes two schools               (Vanavani and Kendriya Vidyalaya), three temples (Jalakanteshwara, Durga Peliamman and Ganapathi), three bank branches (SBI, ICICI, Canara Bank), a hospital, shopping centres, food shops, a gym, sleeping room and cricket, football, hockey and badminton stadiums. Internet is available in the academic zone and the faculty and staff residential zone. Earlier Internet was limited in hostel-zone from 2:00 pm till midnight and from 5:00 am to 8:00 am, but increasing demand during academic semester led to round-the-clock Internet service.IIT Madras also has supercomputing capability, with the IBM Virgo Super Cluster with 97 teraflops worth of computational power.


== Organisation and administration ==


=== Governance ===
IIT Madras is an autonomous statutory organisation functioning within the Institutes of Technology Act. The sixteen IITs are administered centrally by the IIT Council, an apex body established by the Government of India. The Minister of Human Resources and Development is the chairman of the council. Each institute has a Board of Governors responsible for its administration and control.
The Senate comprises all professors of the Institute and decides its academic policy. It controls and approves the curriculum, courses, examinations, and results. It appoints committees to examine specific academic matters. The Director of the institute serves as the Chairman of the Senate. The current director is Kamakoti Veezhinathan.Three Senate Sub-Committees – The Board of Academic Research, The Board of Academic Courses and The Board of Students – help in academic administration and in the operations of the institute. The Finance Committee advises on matters of financial policy, while the Building and Works Committee advises on buildings and infrastructure. The Board of Industrial Consultancy and Sponsored Research addresses industrial consultancy and the Library Advisory Committee oversees library matters.


=== Departments ===
Aerospace Engineering
Applied Mechanics
Biotechnology (Bhupat and Jyoti Mehta School of Biosciences)
Chemical Engineering
Chemistry
Civil Engineering
Computer Science and Engineering
Electrical Engineering
Engineering Design
Humanities and Social Sciences
Mechanical Engineering
Management Studies
Metallurgical and Materials Engineering
Mathematics
Ocean Engineering
Physics


== Academics ==
IIT Madras offers undergraduate, postgraduate and research degrees across 16 disciplines in Engineering, Sciences, Humanities and Management. About 360 faculty belonging to science and engineering departments and centres of the Institute are engaged in teaching, research and industrial consultancy.
The institute has 16 academic departments and advanced research centres across disciplines of engineering and pure sciences, with nearly 100 laboratories. The academic calendar is organised around the semester. Each semester provides a minimum of seventy days of instruction in English. Students are evaluated on a continuous basis throughout the semester. Evaluation is done by the faculty, a consequence of the autonomous status granted to the institute. Research work is evaluated on the basis of the review thesis by peer examiners both from within the country and abroad. Ordinances that govern the academic programme of study are prepared by the Senate, the highest academic body within the institute.


=== Admission tests ===
For the undergraduate curriculum, admission to the BTech and Dual Degree (BSc + MSc or BTech + MTech) programme is done through the Joint Entrance Examination – Advanced (JEE-Advanced). IIT Madras conducted JEE Advanced in 2017. Admission to the five-year integrated Master of Arts (MA) programme is through the Humanities and Social Sciences Entrance Examination (HSEE), an IIT Madras specific exam. Admissions to the online degree programme for B.Sc. in Programming and Data Science are done through a Qualifier Process which includes four weeks of instruction in Computational Thinking, Mathematics, Statistics and English.For the postgraduate curriculum, admission to the MTech and MS programmes are through the Graduate Aptitude Test in Engineering (GATE). The Joint Admission Test to MSc (JAM) is the entrance exam for the two-year MSc programme, and other post BSc programmes. MBA candidates are accepted through the Common Admission Test (CAT).


=== Rankings ===
Internationally, IIT Madras was ranked 255 in the QS World University Rankings of 2022. The same rankings ranked it 50 in Asia in 2021 and 17 among BRICS nations in 2019. It was ranked 701–800 in the world by the Academic Ranking of World Universities of 2021.IIT Madras also ranked first among engineering colleges by the National Institutional Ranking Framework (NIRF) in 2020 and first overall. It ranked first in Atal Rankings of Institutions on Innovation Achievements (ARIIA) for three consecutive years from 2019 to 2021.


=== Grading System and Student Evaluation ===
The Indian Institutes of Technology are under control of the Government of India and therefore have strict rules for grade.
Depending on the course the evaluation is based on participation in class, attendance, quiz, exam and/or paper. Continuous evaluation is done by course instructors.
The Evaluation System of IIT Madras which is also used in other IITs is the Cumulative Grade Point Average with a scale from 0 to 10 which is converted to letters:

CGPA then gets calculated as the cumulative credit-weighted average of the grade points:
CGPA = (Σ Ci • GPi) / (Σ Ci)
where:
N is the number of courses
Ci is credits for the ith course
GPi is grade points for the ith course
CGPA is the cumulative grade point average
The CGPA is not the same as the one commonly used in the United States.
In India some credits might be awarded during Bachelor studies for Co-curricular and Extra-curricular Activities, while during the Master Programme this is not allowed.
Through agreements with numerous international organisations, IIT grades are accepted from many international organisations like NTU, NUS and DAAD.
Additionally, the attendance of the students is evaluated with VG for very good (always present), G for good (not present every lecture) and P for poor (student was present less than 85% of lectures).


=== Academic research programmes ===
The institute has departments and advanced research centres across the disciplines of engineering and the pure sciences, and nearly 100 laboratories.Research programmes concern work undertaken by faculty members or specific research groups within departments that award an MS or PhD degree. Research is carried out by scholars admitted into these departmental programmes, under the guidance of their faculty.  Each department makes known its areas of interest to the academic community through handbooks, brochures and bulletins. Topics of interest may be theoretical or experimental. IIT Madras has initiated 16 inter-disciplinary research projects against identified focus areas.


=== Partnership with other universities ===
The institute maintains academic friendship with educational institutes around the world through faculty exchange programmes. The institute has signed Memoranda of Understanding (MOUs) with foreign universities, resulting in cooperative projects and assignments.


=== Industrial Consultancy and Sponsored Research ===
Through industrial consultancy, faculty and staff undertake assignments for industry that may include project design, testing and evaluation, or training in new areas of industrial development. Industries and organisations like the Indian Ordnance Factories, reach out to the IIT faculty to undertake assignments channeled through the Centre For Industrial Consultancy and Sponsored Research (ICSR).
National organisations sponsor programmes of research by funding projects undertaken by the faculty. Such research is time bound and allows project participants to register for a degree.  Project proposals are usually prepared by the IIT faculty and forwarded to interested organisations, based on the nature of their research and their interest to fund such projects.
Sponsored projects are often vehicles for new resources within departments, and often permit their project staff to register for academic degrees in the institute. All sponsored research activities at the institute are coordinated by ICSR.
Park
The IIT Madras Research Park, the first of its kind to be established in India, functions to propel successful innovation in established companies and provide a nurturing ecosystem to startups through incubation efforts and technical infrastructure. Following its success, 50 research parks were planned as part of Start Up India initiative of the Central Government of India. Corporate clients of IIT Madras Research park include Bharat Heavy Electricals Limited, Saint-Gobain and Forbes Marshall. Ather Energy, Hyperverge and Gyandata are some of the startups incubated at the Research Park. The Research Park is primarily reason why a very large number of startups are incubated at IIT Madras.


=== National Programme on Technology Enhanced Learning (NPTEL) ===
To improve the quality of higher education in India, IIT Madras came up with an initiative called NPTEL (National Programme on Technology Enhanced Learning) in the year 2003. As per this initiative, all the IITs, along with the IISc Bangalore would come up with a series of video lecture based courses across all the streams of engineering. This initiative has gained wide popularity in India and the lectures are being used by several engineering students from across India. It is the Largest online repository in the world of courses in engineering, basic sciences and selected humanities and social sciences subjects.


=== BSc Degree Programme in Programming and Data Science. ===
The institute launched the country's first online BSc program in Programming and Data Science. The 116 credit program consists of three levels—Foundation (32 credits), Diploma (48 credits), and Degree (36 credits). The faculty of the program include Madhavan Mukund (Department of Computer Science & Engineering, Chennai Mathematical Institute), Rajesh Kumar (Professor, Department of Humanities and Social Sciences, IIT Madras), Andrew Thangaraj (Professor, Electrical Engineering Department, IIT Madras), Sudarshan Iyengar (Associate Professor, Department of Computer Science and Engineering, IIT Ropar), and several more faculty, instructors and mentors.

The first batch of 8,154 students who joined the program in 2020 have brought unprecedented diversity: Prathap Haridoss, professor in charge of the online degree programme, said nearly 30% of the learners are working professionals from IT, banking, manufacturing, finance, law, healthcare, marketing and other sectors.The institute has been working with experts from NPTEL to manage the program. Instruction is via recorded videos followed by activity questions. There are at least three sessions per week for each course subject that allow students to interact, discuss and study. Weekly graded assignments, monthly quizzes and an end term final exam are used to award grades as per the IIT Grading System. The in-person quizzes and exams are conducted at the test centres across the country.
In additional to a challenging academic curriculum, the students are encouraged to participate in various professional development, skill development and social activities organized by the institute, students and their clubs. In April 2021, the BSc program department organized the  'Cricket Hackathon 2021' for students, professionals, and data science enthusiasts. The academic competition was designed for beginners to learn and compete, as well as for professionals to showcase their capabilities in programming, data science, and analytics.


== Student activities ==


=== Festivals ===


==== Shaastra ====

Shaastra is the annual technical festival of IIT Madras. It is typically held in the second week of January and is the first ISO 9001:2015 certified student organised festival in the world. It is known for its organisation and activities. Forums include the symposia, workshops, video conferences, lectures, demonstrations, and technical exhibitions. Competitive activities cover design events, programming, simulations, quizzes, applied engineering, speedcubing, robotics, and junk-yard wars.


==== Saarang ====

Saarang is the annual social and cultural festival of IIT Madras. It is a five-day-long event held in early January every year and attracts a crowd of 70,000 students and young people from across the country, making it the largest student-run fest in India. Saarang events include speaking, dancing, thespian, quizzing and word games, professional shows (nicknamed proshows) and workshops on music, fashion, art, and dance.


==== Department festivals ====
Several departments organise department festivals. Samanvay, Biofest, ExeBit, Wavez, Mechanica, CEA Fest, ChemPlus, Amalgam and Forays are some of the festivals organised by the Department of Management Studies, Computer Science and Engineering, Ocean Engineering, Mechanical Engineering, Civil Engineering, Chemical Engineering, Metallurgical and Materials Engineering and Maths departments respectively. Department of Humanities and Social Sciences hosts Annual Academic Conference.


=== The Entrepreneurship Cell ===
The Entrepreneurship Cell, IITM, abbreviated as E-Cell IITM, is a student-run body responsible for promoting and inculcating a spirit of entrepreneurial thinking among both the faculty and the student fraternity of IIT Madras. E-Cell was earlier known as "C-TIDES", and was rechristened in 2015 along with a series of organizational changes in an effort to promote greater engagement among students.

In [ ]:
full_page.url

'https://en.wikipedia.org/wiki/IIT_Madras'

In [ ]:
full_page.references

['http://www.businessweek.com/smallbiz/news/date/9811/e981130.htm',
 'http://www.hindu.com/2009/02/28/stories/2009022854140500.htm',
 'http://timesofindia.indiatimes.com/tech/tech-news/IIT-Madras-is-Indias-Stanford/articleshow/46629160.cms',
 'http://www.shanghairanking.com/rankings/arwu/2021',
 'http://www.thehindu.com/news/cities/chennai/a-helping-hand-to-entrepreneurship/article17856871.ece',
 'http://www.thehindu.com/sci-tech/technology/iitm-computer-system-gets-fastest-tag/article3972727.ece',
 'http://www.thehindubusinessline.com/news/education/esummit-at-iit-madras-starts-on-april-7/article9620678.ece',
 'http://archiv.tu-chemnitz.de/pub/2006/0020/data/MAthesis_EvelynRichter.pdf',
 'http://www.oeb.harvard.edu/faculty/mahadevan/mahadevan-oeb.html',
 'http://www.csail.mit.edu/user/723',
 'http://nms.lcs.mit.edu/~hari/',
 'http://ccw.iitm.ac.in/?q=IITMHostels/hinfo',
 'http://www.ecell.iitm.ac.in/e-summit/',
 'http://nptel.iitm.ac.in/',
 'http://nptel.iitm.ac.in/pdf/NPTEL%20Document.pdf',
 'http://www.nss.iitm.ac.in/',
 'http://placement.iitm.ac.in/academics.html',
 'http://respark.iitm.ac.in/',
 'http://t5e.iitm.ac.in/',
 'http://t5e.iitm.ac.in/2009/12/the-snet-energy-survey-8th-nov/',
 'http://www.iitm.ac.in/',
 'http://www.iitm.ac.in',
 'http://www.iitm.ac.in/The%20Institute/',
 'http://www.iitm.ac.in/about',
 'http://www.iitm.ac.in/aboutcampus',
 'http://www.iitm.ac.in/admissiontests',
 'http://www.iitsystem.ac.in/IITcouncil/council.jsp',
 'http://nptel.ac.in/course.php',
 'http://www.frontline.in/static/html/fl2003/stories/20030214007506500.htm',
 'http://ofb.gov.in/download/pr/pr_dgof_interview.pdf',
 'http://ssbprize.gov.in/Content/Detail.aspx?AID=531',
 'http://www.hri.res.in/~pinaki/',
 'http://www.macfound.org/site/c.lkLXJ8MQKrH/b.5458019/k.8448/L_Mahadevan.htm',
 'http://www.shaastra.org/2013/main',
 'http://geohack.toolforge.org/geohack.php?pagename=IIT_Madras&params=12.99151_N_80.23362_E_',
 'http://www.worldcat.org/issn/0971-751X',
 'http://www.worldcat.org/issn/0971-8257',
 'https://drive.google.com/file/d/0B0cmCKgXUt7ceHZ3SUEwa2s5bTg/view',
 'https://timesofindia.indiatimes.com/city/chennai/Its-spit-of-anger-vs-kiss-of-love-at-IIT/articleshow/45183914.cms',
 'https://timesofindia.indiatimes.com/city/chennai/iit-madras-diamond-jubilee-celebrations-assume-global-proportions-events-to-be-held-in-83-cities/articleshow/70143608.cms',
 'https://timesofindia.indiatimes.com/city/chennai/iit-madras-alumnus-is-now-its-new-director/articleshow/88821542.cms',
 'https://www.livemint.com/news/india/iit-madras-raises-700-crore-as-endowment-fund-11616957609084.html',
 'https://www.ndtv.com/education/iit-madras-to-hold-open-house-to-showcase-student-innovations-2125282',
 'https://www.thehindu.com/education/in-1966-she-was-iit-madras-first-woman-civil-engineering-student/article28759995.ece',
 'https://www.thehindu.com/news/cities/chennai/chen-society/golden-jubilee-of-iitms-first-batch-of-graduands/article6218293.ece',
 'https://www.thehindu.com/news/cities/chennai/iit-madras-named-most-innovative-institute/article38067215.ece',
 'https://www.thehindu.com/news/cities/chennai/iitm-turns-60-a-chat-with-first-batch-students/article28744533.ece',
 'https://www.thehindu.com/news/national/tamil-nadu/over-8100-join-iit-madras-online-bsc-degree-course/article33295371.ece',
 'https://www.thenewsminute.com/tamils/287?amp',
 'https://www.topuniversities.com/university-rankings/asian-university-rankings/2021',
 'https://www.topuniversities.com/university-rankings/brics-rankings/2019',
 'https://www.topuniversities.com/university-rankings/world-university-rankings/2022',
 'https://www.youtube.com/watch?v=5485lx6wsao',
 'https://aleph.nkp.cz/F/?func=find-c&local_base=aut&ccl_term=ica=ko2008435605&CON_LNG=ENG',
 'https://www.projekt-mida.de/reflexicon/indo-german-entanglements-in-science-and-technology-the-indian-institute-of-technology-madras/',
 'https://cms.caltech.edu/people/mani',
 'https://catalogue.bnf.fr/ark:/12148/cb12442559g',
 'https://data.bnf.fr/ark:/12148/cb12442559g',
 'https://www.idref.fr/033570418',
 'https://id.loc.gov/authorities/names/n50063099',
 'https://oir.iitm.ac.in/mou/',
 'https://onlinedegree.iitm.ac.in/',
 'https://onlinedegree.iitm.ac.in/admissions.html#AD2',
 'https://onlinedegree.iitm.ac.in/course_pages/BSCCS1002.html',
 'https://onlinedegree.iitm.ac.in/course_pages/BSCHS1001.html',
 'https://onlinedegree.iitm.ac.in/course_pages/BSCMA1001.html#9003',
 'https://onlinedegree.iitm.ac.in/course_pages/BSCMA1004.html',
 'https://research.iitm.ac.in/department_list#:~:text=RESEARCH%20AREAS,-Cellular,%20Molecular%20and&text=Bioinformatics%20and%20Computational%20Biology;%20Biomedical,Molecular%20Genetics%20of%20Plant%20Development.',
 'https://respark.iitm.ac.in/iit-madras-launches-worlds-first-ever-online-b-sc-degree-in-programming-and-data-science/',
 'https://www.iitm.ac.in/happenings/press-releases-and-coverages/iit-madras-launches-cricket-hackathon-2021',
 'https://www.iitm.ac.in/nirfreports/nirf2016/NIRF-Overall-FullReport.pdf',
 'https://www.iitm.ac.in/sites/default/files/Others/annual-budget-2021-22.pdf',
 'https://www.iitm.ac.in/the-institute/administration/academic-administration',
 'https://nptel.ac.in/',
 'https://www.collegesearch.in/exam/jee-advanced/article/top-10-iits-in-india-2018-29-174',
 'https://www.ariia.gov.in/Ranking2019.html',
 'https://eparlib.nic.in/bitstream/123456789/1530/1/lsd_02_06_02-12-1958.pdf',
 'https://eparlib.nic.in/bitstream/123456789/1769/1/lsd_02_08_10-08-1959.pdf',
 'https://web.archive.org/web/20060427232338/http://www.iitm.ac.in/The%20Institute/',
 'https://web.archive.org/web/20090303061238/http://www.hindu.com/2009/02/28/stories/2009022854140500.htm',
 'https://web.archive.org/web/20091115092457/http://www.businessweek.com/smallbiz/news/date/9811/e981130.htm',
 'https://web.archive.org/web/20100215010549/http://archiv.tu-chemnitz.de/pub/2006/0020/data/MAthesis_EvelynRichter.pdf',
 'https://web.archive.org/web/20120113170811/http://www.nptel.iitm.ac.in/',
 'https://web.archive.org/web/20120227163617/http://www.oeb.harvard.edu/faculty/mahadevan/mahadevan-oeb.html',
 'https://web.archive.org/web/20120623211803/http://www.nss.iitm.ac.in/',
 'https://web.archive.org/web/20120904044551/http://nptel.iitm.ac.in/pdf/NPTEL%20Document.pdf',
 'https://web.archive.org/web/20130409125154/http://placement.iitm.ac.in/academics.html',
 'https://web.archive.org/web/20130707013747/http://t5e.iitm.ac.in/',
 'https://web.archive.org/web/20130907050154/http://www.shaastra.org/2013/main',
 'https://web.archive.org/web/20140810091111/http://www.iitsystem.ac.in/IITcouncil/council.jsp',
 'https://web.archive.org/web/20141103172852/http://t5e.iitm.ac.in/2009/12/the-snet-energy-survey-8th-nov/',
 'https://web.archive.org/web/20161128191932/http://nptel.ac.in/course.php',
 'https://web.archive.org/web/20170704084948/http://www.ecell.iitm.ac.in/e-summit/',
 'https://ghostarchive.org/varchive/youtube/20211107/5485lx6wsao',
 'https://isni.org/isni/000000012314788X',
 'https://isni.org/isni/0000000123151926',
 'https://www.nirfindia.org/2018/EngineeringRanking.html',
 'https://www.nirfindia.org/2019/EngineeringRanking.html',
 'https://www.nirfindia.org/2021/EngineeringRanking.html',
 'https://www.nirfindia.org/2021/OverallRanking.html',
 'https://www.nobelprize.org/prizes/chemistry/2019/goodenough/lecture/',
 'https://viaf.org/viaf/168123199',
 'https://www.wikidata.org/wiki/Q858662#identifiers',
 'https://www.worldcat.org/identities/lccn-n50063099/']

In [ ]:
full_page.title

'IIT Madras'

In [ ]:
full_page.images

['https://upload.wikimedia.org/wikipedia/commons/f/f2/Blackbuck_white.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/1/1b/Brahmaputra_Hostel.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/c/c4/Deer_of_IIT_Madras_masatran_0058_0010.jpeg',
 'https://upload.wikimedia.org/wikipedia/commons/e/e4/Godavari_Hostel_Entrance.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/0/08/Heritage_Center1.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/8/85/Pfeil_links.svg',
 'https://upload.wikimedia.org/wikipedia/commons/7/76/Pfeil_oben.svg',
 'https://upload.wikimedia.org/wikipedia/commons/c/c5/Pfeil_rechts.svg',
 'https://upload.wikimedia.org/wikipedia/commons/c/c3/Pfeil_unten.svg',
 'https://upload.wikimedia.org/wikipedia/commons/7/71/Sabarmathi_hostel2.jpg',
 'https://upload.wikimedia.org/wikipedia/en/4/4a/Commons-logo.svg',
 'https://upload.wikimedia.org/wikipedia/en/f/f2/Edit-clear.svg',
 'https://upload.wikimedia.org/wikipedia/en/4/41/Flag_of_India.svg',
 'https://upload.wikimedia.org/wikipedia/en/6/69/IIT_Madras_Logo.svg',
 'https://upload.wikimedia.org/wikipedia/en/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg',
 'https://upload.wikimedia.org/wikipedia/en/9/99/Question_book-new.svg',
 'https://upload.wikimedia.org/wikipedia/en/9/96/Symbol_category_class.svg']

In [ ]:
full_page_html = wk.page("IIT Madras").html().encode("UTF-8")

In [ ]:
import pandas as pd
df = pd.read_html(full_page_html)

In [ ]:
df

[                           0  \
 0   Emblem of the IIT Madras
 1                      Motto
 2           Motto in English
 3                       Type
 4                Established
 5                  Endowment
 6                     Budget
 7                   Chairman
 8                       Dean
 9                   Director
 10            Academic staff
 11                  Students
 12            Undergraduates
 13             Postgraduates
 14         Doctoral students
 15                  Location
 16                    Campus
 17                    Colors
 18                  Nickname
 19                   Website

                                                     1
 0                            Emblem of the IIT Madras
 1   à¤¸à¤¿à¤¦à¥à¤§à¤¿à¤°à¥à¤­à¤µà¤¤à¤¿ à¤à¤°à¥...
 2                    Success is born out of action[1]
 3                         Public technical university
 4                                  1959; 63 years ago
 5          â¹700 crore (2021) (US$ 93.26 million)[2]
 6      â¹996 crore (US$130 million) (2021â2022)[3]
 7                                  Pawan Kumar Goenka
 8   Pratap Hairdoss, Koshy Varghese, Ligy Philip, ...
 9                               Kamakoti Veezhinathan
 10                                             599[5]
 11                                           8,922[5]
 12                                           3,958[5]
 13                                           2,493[5]
 14                                           2,471[5]
 15  Chennai, Tamil Nadu, 600036, India.mw-parser-o...
 16                           Urban620 acres (2.5 km2)
 17  .mw-parser-output .legend{page-break-inside:av...
 18                                  IITians, IITMians
 19                                     www.iitm.ac.in  ,
                                     Areas of Chennai  \
 0  Guindy National Park Adyar Besant Nagar Guindy...
 1                               Guindy National Park
 2                                                NaN
 3                               Guindy National Park
 4                                                NaN
 5                                          Velachery

                                   Areas of Chennai.1     Unnamed: 2
 0  Guindy National Park Adyar Besant Nagar Guindy...            NaN
 1                                              Adyar   Besant Nagar
 2                                                NaN            NaN
 3                                         IIT Madras  Thiruvanmiyur
 4                                                NaN            NaN
 5                                           Taramani       Taramani  ,
                       0           1              2
 0  Guindy National Park       Adyar   Besant Nagar
 1                   NaN         NaN            NaN
 2  Guindy National Park  IIT Madras  Thiruvanmiyur
 3                   NaN         NaN            NaN
 4             Velachery    Taramani       Taramani,
   Boys' Hostels Boys' Hostels.1 Boys' Hostels.2 Boys' Hostels.3  \
 0    Alakananda          Bhadra     Brahmaputra         Cauvery
 1         Ganga        Godavari          Jamuna         Krishna
 2     Mahanadhi       Mandakini         Narmada           Pampa
 3    Saraswathi          Sindhu     Tamraparani           Tapti
 4     Mandakini  Girls' hostels  Girls' hostels  Girls' hostels
 5     Sabarmati          Sarayu      Sharavathi           Tunga

        Unnamed: 4
 0             NaN
 1             NaN
 2             NaN
 3             NaN
 4  Girls' hostels
 5             NaN  ,
     0                                                  1
 0 NaN  This section needs additional citations for ve...,
   University and college rankings
         General â international General â international.1
 0                 ARWU (2021)[28]                     701-800
 1           QS (World) (2022)[29]                         255
 2            QS (Asia) (2021)[30]                          50
 3           QS (BRICS) (2019)[31]                          17
 4               General â India           General â India
 5       NIRF (Overall) (2021)[32]                           1
 6           Engineering â India       Engineering â India
 7                 NIRF (2021)[33]                           1,
   Letter Grade  Grade Points                                    in Words
 0            S            10     Excellent (top students/high performer)
 1            A             9                                   Very Good
 2            B             8                                        Good
 3            C             7                           Satisfactory Work
 4            D             6                               Below Average
 5            E             4                           Poor (but passed)
 6            U             0                                      Failed
 7            W             0  Shortage of attendance (usually below 85%),
                      Fest name                               Department
 0                    Aero fest                    Aerospace Engineering
 1                     ElecFest                   Electrical Engineering
 2                     Samanvay         Department of Management Studies
 3                      Biofest                            Biotechnology
 4                       ExeBit         Computer Science and Engineering
 5                      Amalgam  Metallurgical and Materials Engineering
 6                     CEA Fest                        Civil Engineering
 7                     Chemplus                     Chemical Engineering
 8                       Forays                              Mathematics
 9                    Mechanica                   Mechanical Engineering
 10                       Wavez                        Ocean Engineering
 11  Annual Academic Conference           Humanities and Social Sciences
 12                    Bhoutics                                  Physics
 13                        CiHS                                Chemistry,
     0                                                  1
 0 NaN  This article's list of alumni may not follow W...,
     0                                                  1
 0 NaN  Wikimedia Commons has media related to IIT Mad...,
    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteIndian Institutes of Technology (IITs)  \
 0                                     History of IITs
 1                                          Institutes
 2                               Schools of Management
 3                                          Admissions
 4                                               Fests
 5                                      Cultural fests
 6                                     Technical fests
 7                                        Sports fests
 8                                      Notable alumni
 9                                        Legal status
 10                                   Related subjects
 11                                  Category  Commons

    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteIndian Institutes of Technology (IITs).1
 0                                     History of IITs
 1   Bhilai Bhubaneswar Bombay Dharwad Delhi Dhanba...
 2   Department of Industrial and Management Engine...
 3   Joint Entrance Examination â Advanced Gradua...
 4   Cultural fests Alcheringa Alma Fiesta Antaragn...
 5   Alcheringa Alma Fiesta Antaragni Anwesha Exodi...
 6   Cognizance Kshitij Shaastra Techfest Techkriti...
 7   Infinito Aavhan Agrata Udghosh Sportech Shaury...
 8   IIT Bombay IIT Delhi IIT Kanpur IIT Kharagpur ...
 9   Institutes of Technology Act, 1961 Institutes ...
 10  AIIMSs IIITs IIMs IISc IISERs NITs NIPERs SPAs...
 11                                  Category  Commons                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ,
                  0                                                  1
 0   Cultural fests  Alcheringa Alma Fiesta Antaragni Anwesha Exodi...
 1  Technical fests  Cognizance Kshitij Shaastra Techfest Techkriti...
 2     Sports fests  Infinito Aavhan Agrata Udghosh Sportech Shaury...,
                       vteEducation in Tamil Nadu  \
 0              Institutes of National Importance
 1                           Central universities
 2                             State universities
 3                            Deemed universities
 4  List of educational institutions by districts
 5                                   India portal

                         vteEducation in Tamil Nadu.1
 0  Dakshina Bharat Hindi Prachar Sabha IIIT Tiruc...
 1  Central University of Tamil Nadu Indian Mariti...
 2  Alagappa University Anna University Annamalai ...
 3  Academy of Maritime Education and Training Amr...
 4  Chennai Coimbatore Cuddalore Dharmapuri Erode ...
 5                                       India portal  ,
                       vtePort-City University League  \
 0  Brazil USP Canada UBC China DUT SJTU SDU Egypt...

                     vtePort-City University League.1
 0  Brazil USP Canada UBC China DUT SJTU SDU Egypt...  ,
     Authority control                         Authority control.1
 0             General                    ISNI 1 2 VIAF 1 WorldCat
 1  National libraries  France (data) United States Czech Republic
 2               Other                            SUDOC (France) 1]

In [ ]:
df[1]

,Areas of Chennai,Areas of Chennai.1,Unnamed: 2
0,Guindy National Park Adyar Besant Nagar Guindy...,Guindy National Park Adyar Besant Nagar Guindy...,NaN
1,Guindy National Park,Adyar,Besant Nagar
2,NaN,NaN,NaN
3,Guindy National Park,IIT Madras,Thiruvanmiyur
4,NaN,NaN,NaN
5,Velachery,Taramani,Taramani

In [ ]:
df[2]

                      0           1              2
0  Guindy National Park       Adyar   Besant Nagar
1                   NaN         NaN            NaN
2  Guindy National Park  IIT Madras  Thiruvanmiyur
3                   NaN         NaN            NaN
4             Velachery    Taramani       Taramani

In [ ]:
df[3]

,Boys' Hostels,Boys' Hostels.1,Boys' Hostels.2,Boys' Hostels.3,Unnamed: 4
0,Alakananda,Bhadra,Brahmaputra,Cauvery,NaN
1,Ganga,Godavari,Jamuna,Krishna,NaN
2,Mahanadhi,Mandakini,Narmada,Pampa,NaN
3,Saraswathi,Sindhu,Tamraparani,Tapti,NaN
4,Mandakini,Girls' hostels,Girls' hostels,Girls' hostels,Girls' hostels
5,Sabarmati,Sarayu,Sharavathi,Tunga,NaN

In [ ]:
df[5]

  University and college rankings
        General â international General â international.1
0                 ARWU (2021)[28]                     701-800
1           QS (World) (2022)[29]                         255
2            QS (Asia) (2021)[30]                          50
3           QS (BRICS) (2019)[31]                          17
4               General â India           General â India
5       NIRF (Overall) (2021)[32]                           1
6           Engineering â India       Engineering â India
7                 NIRF (2021)[33]                           1

In [ ]:
df[6]

  Letter Grade  Grade Points                                    in Words
0            S            10     Excellent (top students/high performer)
1            A             9                                   Very Good
2            B             8                                        Good
3            C             7                           Satisfactory Work
4            D             6                               Below Average
5            E             4                           Poor (but passed)
6            U             0                                      Failed
7            W             0  Shortage of attendance (usually below 85%)

In [ ]:
df[7]

                     Fest name                               Department
0                    Aero fest                    Aerospace Engineering
1                     ElecFest                   Electrical Engineering
2                     Samanvay         Department of Management Studies
3                      Biofest                            Biotechnology
4                       ExeBit         Computer Science and Engineering
5                      Amalgam  Metallurgical and Materials Engineering
6                     CEA Fest                        Civil Engineering
7                     Chemplus                     Chemical Engineering
8                       Forays                              Mathematics
9                    Mechanica                   Mechanical Engineering
10                       Wavez                        Ocean Engineering
11  Annual Academic Conference           Humanities and Social Sciences
12                    Bhoutics                                  Physics
13                        CiHS                                Chemistry

# ***Scrape Data from Pdfs (tabula)***

In [ ]:
import pandas as pd
from bs4 import BeautifulSoup as BS
import os
import requests
from urllib.parse import urljoin

import tabula

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
url = 'https://www.premierleague.com/publications'

folder_location = r'/content/drive/MyDrive/Colab Notebooks/premier_league'
if not os.path.exists(folder_location):
  os.mkdir(folder_location)

In [ ]:
response = requests.get(url)
soup = BS(response.text, "html.parser")

for link in soup.select("a[href$='.pdf']"):
  filename = os.path.join(folder_location, link['href'].split('/')[-1])
  with open(filename, 'wb') as f:
        f.write(requests.get(urljoin(url,link['href'])).content)

In [ ]:
import tabula
df = tabula.read_pdf(folder_location + "/This-is-PL-Interactive-Combined.pdf", pages = '18')

In [ ]:
df

[                                           Unnamed: 0  \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                               £100m
 10                                                NaN
 11                                                NaN
 12                                     The amount the
 13                                     Premier League
 14                              invests per season in
 15                                 the development of
 16                              community facilities,
 17          sports participation, Central payments to
 18                community and schools clubs 2017/18
 19  programmes, and to The collective and central ...
 20  support the well-being Premier League markets ...
 21                                of players in lower
 22  make using these central payments, leagues. Th...
 23  League also supports all of them to not only i...
 24  the English Football talented players and faci...
 25  League with a further also their local communi...
 26        £100m per season of wider football pyramid.
 27   Solidarity payments The income generated by fans
 28                              and ring-fenced Youth
 29  Development grants. watching compelling matche...
 30                  the Premier League is what allows

                                 Unnamed: 1  Unnamed: 2   Pos Unnamed: 3  \
 0                                      NaN         NaN   1.0        NaN
 1                                      NaN         NaN   2.0        NaN
 2                                      NaN         NaN   3.0        NaN
 3                                      NaN         NaN   4.0        NaN
 4                                      NaN         NaN   5.0        NaN
 5                                      NaN         NaN   6.0        NaN
 6                                      NaN         NaN   7.0        NaN
 7                                      NaN         NaN   8.0        NaN
 8                                      NaN         NaN   9.0        NaN
 9                                      NaN         NaN  10.0        NaN
 10                                     NaN         NaN   NaN        125
 11                                     NaN         NaN   NaN     RAEY S
 12                                     NaN         NaN  11.0        NaN
 13                                     NaN         NaN   NaN        NaN
 14                                     NaN         NaN  12.0        NaN
 15                                     NaN         NaN   NaN        NaN
 16                                     NaN         NaN  13.0        NaN
 17                                     NaN         NaN   NaN        NaN
 18                                     NaN         NaN  14.0        NaN
 19      our clubs to remain as competitive         NaN   NaN        NaN
 20        as possible. The investment they         NaN  15.0        NaN
 21                                     NaN         NaN   NaN        NaN
 22                                     NaN         NaN  16.0        NaN
 23       creates safer and more accessible         NaN   NaN        NaN
 24  stadia for fans. This on-pitch success         NaN  17.0        NaN
 25    enables the responsible distribution         NaN   NaN        NaN
 26       of investment through the rest of         NaN  18.0        NaN
 27          the football pyramid to ensure         NaN   NaN        NaN
 28                                     NaN         NaN  19.0        NaN
 29    participation in the game can thrive         NaN   NaN        NaN
 30                         at every level.         NaN  20.0        NaN

                       Club     W     D     L    GD    Pts Total payment
 0          Manchester City  32.0   4.0   2.0  79.0  100.0       £149.4m
 1        Manchester United  25.0   6.0   7.0  40.0   81.0       £149.8m
 2        Tottenham Hotspur  23.0   8.0   7.0  38.0   77.0       £144.4m
 3                Liverpool  21.0  12.0   5.0  46.0   75.0       £145.9m
 4                  Chelsea  21.0   7.0  10.0  24.0   70.0       £141.7m
 5                  Arsenal  19.0   6.0  13.0  23.0   63.0       £142.0m
 6                  Burnley  14.0  12.0  12.0  -3.0   54.0       £119.8m
 7                  Everton  13.0  10.0  15.0 -14.0   49.0       £128.0m
 8           Leicester City  12.0  11.0  15.0  -4.0   47.0       £118.2m
 9         Newcastle United  12.0   8.0  18.0  -8.0   44.0       £123.0m
 10                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 11                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 12          Crystal Palace  11.0  11.0  16.0 -10.0   44.0       £114.3m
 13                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 14         AFC Bournemouth  11.0  11.0  16.0 -16.0   44.0       £111.2m
 15                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 16         West Ham United  10.0  12.0  16.0 -20.0   42.0       £116.1m
 17                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 18                 Watford  11.0   8.0  19.0 -20.0   41.0       £106.3m
 19                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 20  Brighton & Hove Albion   9.0  13.0  16.0 -20.0   40.0       £107.7m
 21                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 22       Huddersfield Town   9.0  10.0  19.0 -30.0   37.0       £102.4m
 23                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 24             Southampton   7.0  15.0  16.0 -19.0   36.0       £107.2m
 25                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 26            Swansea City   8.0   9.0  21.0 -28.0   33.0        £98.5m
 27                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 28              Stoke City   7.0  12.0  19.0 -33.0   33.0        £98.9m
 29                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 30    West Bromwich Albion   6.0  13.0  19.0 -25.0   31.0        £94.7m  ]

In [ ]:
from tabula import convert_into
convert_into(folder_location + "/This-is-PL-Interactive-Combined.pdf", folder_location + "/table_output.csv", output_format="csv", area = [[275,504,640,900]], pages = "18")

In [ ]:
data = pd.read_csv(folder_location + "/table_output.csv")

In [ ]:
data

,Pos,Unnamed: 1,Club,W,D,L,GD,Pts,Total payment
0,1.0,NaN,Manchester City,32.0,4.0,2.0,79.0,100.0,£149.4m
1,2.0,NaN,Manchester United,25.0,6.0,7.0,40.0,81.0,£149.8m
2,3.0,NaN,Tottenham Hotspur,23.0,8.0,7.0,38.0,77.0,£144.4m
3,4.0,NaN,Liverpool,21.0,12.0,5.0,46.0,75.0,£145.9m
4,5.0,NaN,Chelsea,21.0,7.0,10.0,24.0,70.0,£141.7m
5,6.0,NaN,Arsenal,19.0,6.0,13.0,23.0,63.0,£142.0m
6,7.0,NaN,Burnley,14.0,12.0,12.0,-3.0,54.0,£119.8m
7,8.0,NaN,Everton,13.0,10.0,15.0,-14.0,49.0,£128.0m
8,9.0,NaN,Leicester City,12.0,11.0,15.0,-4.0,47.0,£118.2m
9,10.0,NaN,Newcastle United,12.0,8.0,18.0,-8.0,44.0,£123.0m
10,NaN,125,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,E RY SA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,11.0,NaN,Crystal Palace,11.0,11.0,16.0,-10.0,44.0,£114.3m
13,12.0,NaN,AFC Bournemouth,11.0,11.0,16.0,-16.0,44.0,£111.2m
14,13.0,NaN,West Ham United,10.0,12.0,16.0,-20.0,42.0,£116.1m
15,14.0,NaN,Watford,11.0,8.0,19.0,-20.0,41.0,£106.3m
16,15.0,NaN,Brighton & Hove Albion,9.0,13.0,16.0,-20.0,40.0,£107.7m
17,16.0,NaN,Huddersfield Town,9.0,10.0,19.0,-30.0,37.0,£102.4m
18,17.0,NaN,Southampton,7.0,15.0,16.0,-19.0,36.0,£107.2m
19,18.0,NaN,Swansea City,8.0,9.0,21.0,-28.0,33.0,£98.5m
20,19.0,NaN,Stoke City,7.0,12.0,19.0,-33.0,33.0,£98.9m
21,20.0,NaN,West Bromwich Albion,6.0,13.0,19.0,-25.0,31.0,£94.7m